.main {
    position: relative;
    padding-bottom: 0;

    &__content {
        &::after {
            content: "";
            position: absolute;
            background: url(../img/main-kup.png) no-repeat center;
            background-size: contain;
            top: 0;
        }
        @media screen and (min-width: 980px) {
            &::after {
                right: -2rem;
                width: 13rem;
                height: 13rem;
            }
        }
        @media screen and (min-width: 1250px) {
            &::after {
                right: -2rem;
                width: 15rem;
                height: 15rem;
            }
        }
        @media screen and (min-width: 1550px) {
            &::after {
                right: -2rem;
                width: 20rem;
                height: 20rem;
            }
        }
    }
    .spark {
        background-color: #de4a00;
        font-family: "Helvetica", sans-serif;
        visibility: hidden;
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 30%;
        box-shadow: 0 0 5px #ab000b;
    }
    canvas,
    .sparkles {
        width: 1200px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .container {
        position: relative;
    }
    .block {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(5px);
        padding: 1.5rem;
        border-radius: 10px;
        position: relative;
        &.gradient {
            border-image-slice: 5;
            border-width: 1px;
            border-style: solid;
            border-image-source: url(../img/border.jpg);

            .flex {
                display: grid;
                grid-template-columns: 3.5rem 1fr;
                place-items: center start;
            }
        }
        .icon {
            width: 4.5rem;
            height: 4.5rem;
            place-self: center;
            svg {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &-gradient {
        background: #ff8520;
        position: relative;
        top: -2px;
        text-shadow: 2px 2px 4px rgba(74, 44, 15, 0.25);

        .flex {
            @media screen and (max-width: 780px) {
                img {
                    width: calc(100% + 4rem);
                    margin: 0 -2rem -5rem;
                    display: block;
                    max-width: calc(100% + 4rem);
                }
            }
        }
        .info-block {
            border: 3px dashed #c85a00;
            border-radius: 32px;
            padding: 2rem;
            max-width: 498px;
            position: relative;
            padding-right: 10rem;

            z-index: 15;
            .kupons {
                position: absolute;
                top: -53%;
                right: -9rem;
                width: 25rem;
                bottom: 0;
                margin: auto;
            }
        }

        &::after {
            content: "";
            content: "";
            position: absolute;
            width: 120%;
            left: -10%;
            height: 70%;
            background: #ff841f;
            bottom: -23%;
            border-bottom: 20px solid $green;
            border-radius: 50%;
            z-index: 10;
            @media screen and (max-width: 768px) {
                width: 200%;
                left: -50%;
            }
        }
    }
}
