.map {
  padding: 3rem 0;

  @media screen and (max-width:769px) {
    .container {
      width: 100% !important;
    }
  }

  .mapContainer {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    position: relative;
    margin: 2rem auto 5rem;
    // background: url(./images/poster.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;

    @media screen and (max-width:769px) {
      padding-bottom: 50rem;
    }

    #map {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      > ymaps {
        height: 100% !important;

        .ymaps-2-1-77-balloon {
          min-width: 250px;
          max-width: 300px;
        }
        .ymaps-2-1-79-balloon {
          margin-left: 3rem;
          background: none;
          border-radius: 2rem 2rem 2rem 0;
          border: none;
          &__layout {
            background: #f9faff;
            filter: drop-shadow(18px 34px 28px rgba(0, 0, 0, 0.1));

            border-radius: 2rem 2rem 2rem 0;
            padding: 10px;
          }
          &__content {
            background: transparent;
          }
          &__tail {
            display: none;
          }
        }

        .ymaps-2-1-77-balloon__content {
          > ymaps {
            min-width: 200px;
            max-width: 100%;
            height: fit-content !important;
          }
        }

        .shopHint {
          flex-wrap: nowrap;
          margin-bottom: 1rem;

          img {
            display: block;
            width: 1.25rem;
            height: 1.25rem;

            object-fit: contain;
          }
        }

        .ymaps-2-1-77-balloon__content {
          background: #e9f4ff;
          font-family: "Ubuntu";
          font-style: normal;
          font-weight: normal;
        }

        .ymaps-2-1-77-balloon__layout {
          background: #e9f4ff;
          border-radius: 1rem;
        }

        .ymaps-2-1-77-balloon {
          border: none;
          filter: drop-shadow(0px 4px 20px rgba(60, 65, 79, 0.25));
          box-shadow: none;
        }

        .ymaps-2-1-77-balloon__tail {
          box-shadow: none;
          display: none;

          &::after {
            display: none;
          }
        }
      }
    }
  }
}

#root {

  .MuiSvgIcon-root.MuiSelect-icon.MuiSelect-iconOutlined{
    background: url(../img/down.png) no-repeat center;
    background-size: contain;
    display: block;
  }
  .MuiFormControl-root {
    border-radius: 2rem !important;
    border-color: $orange;

    .MuiInputLabel-filled {
      &[data-shrink="true"] {
        color: #c0c0c0 !important;
        transform: translate(19px, 7px) scale(0.75) !important;
      }

      .MuiFormLabel-asterisk.MuiInputLabel-asterisk {
        display: none;
      }
    }

    .MuiOutlinedInput-root,
    .MuiSelect-outlined,
    .MuiOutlinedInput-notchedOutline {
      border-radius: 5px;
      border-color: $orange;
    }

    .MuiFormLabel-root,
    .MuiInputBase-root {
      font-family: "Ubuntu";
      font-style: normal;
      font-weight: normal;
      color: $orange;
      border-color: transparent !important;
      background: #fff;
      border-radius: 5px !important;
      box-shadow: none !important;

      option {
        color: #000;
      }

      &:hover {
        color: $orange;

        .MuiOutlinedInput-root,
        .MuiSelect-outlined,
        .MuiOutlinedInput-notchedOutline {
          border-radius: 5px;
          border-color: $orange !important;
          color: $orange;
        }
      }

      &:focus {
        outline: none !important;
      }

      &.makeStyles-root-5,
      &.makeStyles-root-1 {
        border-radius: 2rem;
        box-shadow: none;
        border-color: transparent !important;
      }
    }

    input {
      border: 2px solid $orange !important;

      &:focus {
        border: 2px solid $orange !important;
      }
    }
  }
  .map,
  .sponsors {
    .MuiFormControl-root {
      @media screen and (max-width:769px) {
        margin-top: 2rem;
      }
      .MuiSelect-outlined {
        width: 100%;
        min-width: 250px;
      }
    }
  }
  .MuiSelect-select:focus {
    background: #fff;
  }

  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $orange !important;
  }

  .MuiSvgIcon-root.MuiSelect-icon.MuiSelect-iconOutlined {
    display: block;
    width: 1rem;
    height: 1rem;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    // background: url(./images/arrow.png) no-repeat center;
    background-size: contain;

    path {
      display: none;
    }
  }
}
