.prizes {
    background: linear-gradient(180deg, #fcdd3a 0%, #f0b636 57.81%, #ff8520 100%);
    position: relative;
    padding-bottom: 10rem;
    &-grid {
        max-width: 1000px;
    }
    h2 {
        text-shadow: 2px 2px 4px rgba(74, 44, 15, 0.25);
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        background: url(../img/fire-prizes.png) repeat-x;
        height: 85px;
        left: 0;
        top: -85px;
    }
    &::after {
        background: url(../img/fire-prizes-white.png) repeat-x;
        top: auto;
        bottom: 0;
    }
    .prize {
        &-image {
            background: rgba(200, 90, 0, 0.3);
            box-shadow: inset 0px 6px 6px #c88400;
            border-radius: 33px;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            position: relative;
            img {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 80%;
                height: 80%;
                object-fit: contain;
                object-position: center;
            }
        }
        &-item:first-child {
            .prize-image {
                background: #000;
                box-shadow: none;
                img {
                    width: 60%;
                    height: 60%;
                }
            }
        }
    }
    h4 {
        text-shadow: 1px 1px 2px rgba(81, 27, 4, 0.25);
        display: block;
        //max-width: 85%;
    }
}
