$orange:#ff8200;
$green: #78BE20;

@font-face {
    font-family: 'Golos';
    src: url('../fonts/Golos/Golos-Text_Black.ttf');
}


$main-bg: #EF7D00;
$orange__hover: #FF3300;
$orange__bg:#FF9933;
$shadow: rgba(60, 65, 79, 0.25);
$gradient: linear-gradient(180deg, #FF9118 0%, #FF6600 100%);
$gradient__hover: linear-gradient(180deg, #FF6600 0%, #FF9118 100%);
$gradient__background:linear-gradient(180deg, #FF7316 0%, #FF4D00 100%);
$gradient__background__hover: linear-gradient(180deg, #FF3300 0%, #FF7316 100%);
$blue:#E9F4FF;
$checked-color: #34b93d;
// $green:#578b4e;