* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    outline: none;
    list-style: none;
    scroll-behavior: smooth;
}
@import "./reset";
@import "./index.css";
@import "./vars";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "swiper/swiper.min.css";

body {
    .MuiPopover-root {
        z-index: 1100 !important;
    }
}
.underlined {
    text-decoration: underline;
    text-underline-position: under;
    &:hover {
        text-decoration: none;
    }
}
#root {
    width: 100%;
    overflow: hidden;
    padding-right: 0;

    &.scrolled {
        height: 100vh;
        width: 100%;
        padding-right: 17px;
        overflow: hidden;
    }
}
.md-max-w-95_per {
    @media screen and (min-width: 781px) {
        max-width: 95%;
    }
}
.container {
    &:not(.max-w-full) {
        @media (max-width: 768px) {
            padding: 0 20px;
        }
    }
}
.container {
    &:not(.max-w-full) {
        max-width: 1800px;
        margin: 0 auto;
        @media screen and (max-width: 1700px) {
            max-width: 95%;
        }
    }
}
.ubuntu {
    font-family: "Ubuntu", sans-serif;
}
.golos {
    font-family: "Golos";
}
.content {
    width: 100%;
    min-height: 100vh;
}
.text {
    &-orange {
        color: $orange;
    }
}
.text {
    line-height: 1.7;
    font-size: 1rem;
}
.text-bold {
    font-weight: bold;
}
.text-uppercase {
    text-transform: uppercase;
}

.btn {
    padding: 1.3rem 2.7rem;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgba(92, 43, 15, 0.25);
    font-size: 1.2rem;

    &.rules {
        padding: 1.3rem 1.7rem;
        @media screen and (max-width: 380px) {
            padding: 1.3rem 1.5rem;
            font-size: 1rem;
        }
    }

    cursor: pointer;
    color: #fff;
    position: relative;
    filter: drop-shadow(0px 19px 18px rgba(255, 126, 18, 0.25));
    &.absol {
        position: absolute;
        z-index: 999999;
        bottom: 5rem;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
    }
    .bg {
        background: url(../img/btn-bg.png) repeat-x bottom, linear-gradient(92.94deg, #ffb800 0.21%, #ff7400 99.79%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 15px;
        margin: auto;
        clip-path: ellipse(85% 50% at 50% 50%);
    }
    span {
        position: relative;
    }
    &::before {
        content: "";
        width: 97%;
        height: 92%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        -webkit-clip-path: ellipse(70% 45% at 49% 54%);
        clip-path: ellipse(63% 45% at 49% 54%);
        background: #e85a00;
        bottom: -19px;
        transition: all 0.15s;
    }

    &:hover {
        &::before {
            clip-path: ellipse(67% 36% at 49% 54%);
            transition: all 0.15s;
        }
    }
}
.bg {
    &-orange {
        background: $orange;
    }
}
input {
    width: 100%;
    border: 1px solid #ff8200;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
    min-height: 4rem;
}
.footer {
    border-top: 20px solid $green;
}
.app {
    max-width: 100%;
    overflow-x: hidden;
}
.MuiSelect-root {
    background: #fff;
}
.MuiSelect-selectMenu {
    min-height: 1.5876em;
}
@import "./nav";
@import "./main";
@import "./mechanics";
@import "./prizes";
@import "./sponsors";
@import "./winners";
@import "./map";
@import "./scaner";
@import "./form";
